[user]
    name = Danny Brown
    email = dannybrown37@gmail.com
[branch]
    sort = -committerdate
[core]
    editor = vi
    excludesfile = ${HOME}/.gitignore_global
[init]
    defaultBranch = main
[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = !/usr/bin/gh auth git-credential
