[user]
    name = Danny Brown
    email = dannybrown37@gmail.com
[branch]
    sort = -committerdate
[core]
    editor = nvim
    pager = delta
    excludesfile = ${HOME}/.gitignore_global
[init]
    defaultBranch = main
[pull]
    ff = only
[push]
    default = current
[fetch]
    prune = true
[rebase]
    autostash = true
[rerere]
    enabled = true
[commit]
    verbose = true
[merge]
    conflictStyle = diff3
[diff]
    tool = difftastic
    colorMoved = default
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = !/usr/bin/gh auth git-credential
