# Use `Ctrl+j` and `Ctrl+k` to navigate history in Bash
"\C-n": next-history
"\C-j": next-history
"\C-p": previous-history
"\C-k": previous-history
"\e": "\C-u"

# Wrap pastes in escape sequences so the shell treats them as literal text
set enable-bracketed-paste on
